{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<div class="container">
		
	<div class="py-5 text-center mt-5">
		<h2>Dashboard</h2>
	</div>

</div>

{% endblock %}
