{% extends 'base.html.twig' %}

{% block title %}New Coupon{% endblock %}

{% block body %}
    <h1>Create new Coupon</h1>

    {{ include('coupon/_form.html.twig') }}

    <a href="{{ path('app_coupon_index') }}"><button class="btn btn-primary">Retour</button></a>
{% endblock %}
