{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h2 class="m-0 font-weight-bold text-primary">Commande</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ commande.id }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="{{ path('app_commande_index') }}"><button class="btn btn-primary">Retour</button></a>

    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}"><button class="btn btn-info">Modifier</button></a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
