{% extends 'base.html.twig' %}

{% block title %}Edit Chambre{% endblock %}

{% block body %}
    <h1>Edit Chambre</h1>

    {{ include('chambre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chambre_index') }}"><button class="btn btn-primary">Retour</button></a>

    {{ include('chambre/_delete_form.html.twig') }}
{% endblock %}
